@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background: radial-gradient(ellipse at center, #00a0dd 0, #0e3777 100%);
}

.auth-page {
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;

  .card {
    width: 450px;
    border: none;

    .card-header {
      border: none;
      background: none;
      padding: 0;

      .logo {
        height: 94px;
        display: grid;
        place-items: center;

        img {
          width: 166px;
          height: 78px;
        }
      }

      .company-name {
        display: grid;
        place-items: center;
        height: 40px;
        background: #4CAF50;
        color: #fff;
        font-size: 18px;
        line-height: 23px;
        font-weight: 500;
      }
    }

    .card-body {
      padding-left: 35px;
      padding-right: 35px;

      .input-group, .form-floating {
        &:hover {
          border: 1px solid #333;
          border-radius: 5px;
        }

        .form-floating {
          &:hover {
            border: none
          }
        }
      }

      .form-floating {
        input {
          height: 50px;
          min-height: 50px;
        }
      }

      .form-check-input:checked {
        background-color: #13458F;
        border-color: #13458F;
      }

      a {
        color: #13458F;
        font-weight: 400;
        text-decoration: none;
      }

      .btn-primary {
        background-color: #13458F;
        border-color: #13458F;
        height: 52px;
        font-weight: 500;
      }

      .form-check-label {
        cursor: pointer;
      }

      #password_type_toggle {
        cursor: pointer;
      }


      .loading {
        display: none;
      }
    }
  }
}

.date-time-container {
  position: absolute;
  bottom: 40px;
  left: 40px;
  display: flex;
  flex-direction: column;
  color: #fff;
  opacity: 0.3;

  #clock {
    font-size: 64px;
    line-height: 80px;
  }

  #date {
    font-size: 24px;
    line-height: 30px;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background: #0389c9 url('../images/login-wave.webp') no-repeat top;
    background-size: 100%;
    overflow-x: hidden;
  }

  .auth-page {
    width: 100%;
    min-height: 100vh;
    display: grid;
    place-items: center;

    .card {
      width: 100%;
      background: none;

      .card-header {
        display: grid;
        place-items: center;

        .logo {
          background: url('../images/logo-bg.png') no-repeat 50%;
          background-size: cover;
          height: 70vw;
          width: 70vw;
          position: relative;

          &:before {
            content: " ";
            position: absolute;
            top: -20%;
            left: -20%;
            background: hsla(0, 0%, 100%, .02);
            width: 140%;
            height: 140%;
            border-radius: 50%;
          }

          &:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            background: hsla(0, 0%, 100%, .04);
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }

          img {
            width: 50%;
            height: auto;
          }
        }

        .company-name {
          margin-top: 20px;
          background: #1763B3;
          width: 100%;
        }
      }

      .card-body {
        .form-floating {
          input {
            background: #0579BC;
            color: #fff;

            &::placeholder {
              background: #0579BC;
              color: #fff;
            }
          }
        }

        .form-check-input:checked {
          background-color: #13458F;
          border-color: #fff;
        }

        a {
          color: #fff;
        }

        .btn-primary {
          background-color: #fff;
          border-color: #fff;
          color: #000
        }

        .form-check-label {
          color: #fff;
        }
      }
    }
  }

  .date-time-container {
    display: none
  }
}