.blog-list-page {
  margin: 60px 0;

  .container {

    .most-read {
      .post {
        display: flex;
        flex-direction: column;
        gap: 10px;

        a.post-image {
          img {
            width: 100%;
            height: auto;
            max-height: 400px;
            border-radius: 6px;
            will-change: transform;
            transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0.000deg) rotateY(0.0000deg) rotateZ(0deg) skew(0deg, 0deg);
            transform-style: preserve-3d;
            box-shadow: 11px 11px 13px 1px rgba(0, 0, 0, .26);
          }

          &:hover {
            img {
              transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(-3.000deg) rotateY(7.0000deg) rotateZ(0deg) skew(0deg, 0deg);
            }
          }
        }

        a {
          text-decoration: none;

          h4 {
            color: #20b69f;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 10px;
          }

          h3 {
            color: #2a3854;
            font-size: 32px;
            line-height: 38px;
            font-weight: 400;
            margin: 0;
          }
        }

        .post-content {
          p {
            text-align: justify;
            color: #333;
            font-size: 16px;
            line-height: 28px;
            font-weight: 400;
          }
        }

      }
    }

    .feature-posts {
      padding-left: 20px;

      .posts {
        .post {
          display: flex;
          border-bottom: 1px solid #e8e8e9;
          padding: 15px 0;

          .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 10px;

            a {
              text-decoration: none;

              h4 {
                font-size: 13px;
                font-weight: 700;
                line-height: 20px;
                margin: 0;
                text-transform: uppercase;

                &.green {
                  color: #20b69f;
                }

                &.blue {
                  color: #6c63ff
                }

                &.red {
                  color: #e42e44
                }
              }

              h3 {
                font-size: 20px;
                line-height: 26px;
                color: #2a3854;
                font-weight: 400;
                margin: 0;
              }
            }

            .post-footer {
              li {
                font-size: 13px;
              }
            }

          }

          .right {
            width: 100px;

            a {
              img {
                border-radius: 6px;
                width: 100px;
                height: 100px;
              }
            }
          }

          &:last-child {
            border-bottom: none;
            margin-bottom: 0;
          }
        }
      }
    }

    .popular-categories {
      margin: 60px 0;

      .category {
        background-color: #fff;
        border: 1px solid #e8e8e9;
        border-radius: 6px;
        width: 100%;
        height: fit-content;
        transition: all .175s;

        a {
          display: grid;
          place-items: center;
          width: 100%;
          height: 120px;
          text-decoration: none;
          font-size: 18px;
          font-weight: 700;
          line-height: 20px;
        }

        &:hover {
          box-shadow: 10px 10px 17px rgba(0, 0, 0, .15);
        }

        &.blue {
          a {
            color: #6c63ff;
          }
        }

        &.green {
          a {
            color: #20b69f
          }
        }

        &.red {
          a {
            color: #e42e44
          }
        }
      }
    }

    .loading {
      display: none;
    }

    .post-footer {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        color: #8b92a1;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;

        i {
          margin-right: 5px;
        }

        &:after {
          content: '';
          font-weight: 600;
          font-family: "Font Awesome 6 Free";
          font-size: 5px;
          margin-left: 10px;
        }

        &:last-child:after {
          display: none;
        }
      }
    }

  }
}

.latest-posts {
  a.post {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    height: 300px;

    .post-image {
      margin-bottom: 10px;

      img {
        width: 100%;
        height: 150px;
        border-radius: 6px;
      }
    }

    .post-content {
      flex: 1;
      display: flex;
      flex-direction: column;

      .post-category {
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;

        &.blue {
          color: #6c63ff;
        }

        &.green {
          color: #20b69f
        }

        &.red {
          color: #e42e44
        }
      }

      .post-title {
        font-size: 18px;
        line-height: 24px;
        color: #2a3854;
        font-weight: 400;
      }

      .post-footer {
        flex: 1;
        display: flex;
        align-items: flex-end;
        gap: 10px;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          align-items: center;
          color: #8b92a1;
          font-size: 14px;
          line-height: 20px;
          font-weight: 400;

          i {
            margin-right: 5px;
          }

          &:after {
            content: '';
            font-weight: 600;
            font-family: "Font Awesome 6 Free";
            font-size: 5px;
            margin-left: 10px;
          }

          &:last-child:after {
            display: none;
          }
        }
      }

    }
  }
}

.blog-detail-page {
  margin: 60px 0;

  .container {
    > .post {
      border-bottom: 1px solid #e8e8e9;
      padding-bottom: 50px;
      margin-bottom: 20px;

      .post-header {
        display: flex;
        align-items: center;
        padding: 0 15px;
        gap: 20px;

        .left {
          a {
            display: grid;
            place-items: center;
            background: #F1F1F1;
            width: 50px;
            height: 50px;
            border-radius: 100%;
            color: #363636;
            font-weight: 400;
            text-decoration: none;
          }
        }

        .right {
          display: flex;
          flex-direction: column;

          h4 {
            color: #6c63ff;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            margin-top: 10px;
          }

          h2 {
            color: #333333;
            font-size: 32px;
            font-weight: 700;
            line-height: 36px;
          }

          .details {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              display: flex;
              align-items: center;
              color: #8b92a1;
              font-size: 14px;
              line-height: 20px;
              font-weight: 400;

              &:after {
                content: '';
                font-weight: 600;
                font-family: "Font Awesome 6 Free";
                font-size: 5px;
                margin-left: 10px;
              }

              &:last-child:after {
                display: none;
              }
            }
          }
        }
      }

      .post-image {
        margin: 30px 0;

        img {
          border-radius: 10px;
          width: 100%;
          height: auto;
        }
      }

      .post-body {
        position: relative;
        display: flex;
        width: 100%;
        height: fit-content;

        .social-links {
          width: 100px;

          ul {
            position: sticky;
            top: 120px;
            left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 6px;
            padding: 0 0 0 10px;

            li {
              a {
                display: grid;
                place-items: center;
                color: #fff;
                width: 48px;
                height: 48px;
                border-radius: 6px;

                img {
                  width: 24px;
                  height: 24px;
                }

                &#fb {
                  background: #4267B2;
                }

                &#x {
                  background: #000000;
                }

                &#share {
                  background: #95D03A;
                }

                &#linkedin {
                  background: #0077B5;
                }

                &#wp {
                  background: #25D366;
                }
              }
            }
          }
        }

        .post-content {
          flex: 1;

          h3 {
            font-size: 32px;
            line-height: 36px;
            font-weight: 700;
            color: #214abf;
          }

          p {
            text-align: justify;
            color: #333333;
            font-size: 17px;
            line-height: 27px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

.blog-list-page, .blog-detail-page {
  h3.section-title {
    color: #13458f;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: capitalize;
  }
}

@media only screen and (max-width: 991px) {
  .blog-list-page {
    .container {
      .feature-posts {
        padding-left: 0;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #e8e8e9;
      }

      .popular-categories {
        .row {
          row-gap: 15px;
        }
      }

      .latest-posts {
        .row {
          row-gap: 15px;
        }
      }
    }
  }

  .blog-detail-page {

    .container {
      > .post {
        .post-header {
          position: relative;

          .left {
            position: absolute;
            top: -10px;


            a {
              background: #F1F1F1;
              width: 40px;
              height: 40px;
            }
          }

          .right {
            display: flex;
            flex-direction: column;

            h4 {
              margin-left: 60px;
              margin-top: 0;
            }

            h2 {
              margin-top: 10px;
            }
          }
        }

        .post-body {
          flex-direction: column;

          .social-links {
            width: 100%;

            ul {
              position: static;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 0;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .blog-list-page {
    .container {
      .latest-posts {
        a.post {
          flex-direction: row-reverse;
          border-bottom: 1px solid #e8e8e9;

          .post-image {
            margin-bottom: 0;
            margin-left: 20px;

            img {
              width: 100px;
              height: 100px;
            }
          }

          .post-content {
            flex: 1;
          }
        }

        .row {
          .col-12:last-child {
            a.post {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}